# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\desktop\data process\Timeline\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
